<% include head %>
<body>
    <script data-main="js/mapeditor.js" src="js/lib/require.js"></script>
    <div>
	    <button class="tiles-select" value="0">Grass</button>
	    <button class="tiles-select" value="1">Dirt</button>
	</div>
	<div>
		<select id="map-row">
		</select>
		<select id="map-column">
		</select>
		<button id="saveButton">Save Map
		</button>
	</div>
	<div>
		<button id="addRowButton">Add row
		</button>
		<button id="addColumnButton">Add Column
		</button>
		<button id="randButton">Randomize Tiles
		</button>
	</div>
	<span>
	    <canvas id="gjs-canvas"></canvas>
	</span>
	<span>Yolo</span>
</body>